certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
gTTS==2.3.2
idna==3.4
numpy==1.25.2
pycparser==2.21
requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
urllib3==2.0.4
