certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
gTTS==2.4.0
idna==3.4
numpy==1.26.0
pycparser==2.21
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
urllib3==2.0.6
